body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}